.camperCardArticle {
  display: flex;
  padding: 24px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 20px;
  border: 1px solid var(--Gray-light);
  background: var(--White);
  max-width: 888px;
}

.camperCardImage {
  border-radius: 10px;
  display: block;
  width: 292px;
  height: 320px;
  object-fit: cover;
  object-position: center;
}

.camperCardContent {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.camperCardHeaderTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--Main);
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;
}

.camperCardTitle {
  color: var(--Main);
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;
}

.camperCardPriceFavoriteWrapper {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.camperCardDescription {
  overflow: hidden;
  color: var(--Text);
  text-overflow: ellipsis;

  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  display: -webkit-box;
  width: 525px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
