.campersTabWrapper {
  display: inline-flex;

  align-items: flex-start;
  gap: 24px;
  width: 100%;

  background-color: var(--White);
  border-bottom: 1px solid var(--Gray-light);
}
.campersTab {
  color: var(--Main);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--White);
  padding-bottom: 24px;
}

.campersTab.active {
  border-bottom: 2px solid var(--Button);
}
