.reviewArticle {
  width: 641px;
}

.reviewList {
  display: flex;
  width: 631px;
  flex-direction: column;
  align-items: flex-start;
  gap: 44px;
}

.reviewItem {
  display: flex;
  width: 631px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.reviewHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.reviewTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background: var(--Badges);
  color: var(--Button);
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;
}

.reviewHeaderContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.reviewName {
  color: var(--Main);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}

.reviewComment {
  width: 631px;
  color: var(--Text);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
