.vehicleDetailsWrapper {
  width: 527px;
}

.vehicleDetailsTitle {
  color: var(--Main);
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
}

.vehicleDetailsItem {
  display: flex;
  justify-content: space-between;

  color: var(--Main);
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}
